<div class="container">
<h3>メモ作成ページ</h3>
<%= form_tag("/memos") do %>
  <%= label_tag "form_title", "Title" %>
  <%= text_field :memos, :title, id:"form_title", class:"form-control", placeholder: "title", value: "@title" %>
  <%= label_tag "form_content", "Content" %>
  <%= text_field :memos, :body, id:"form_content", class:"form-control", placeholder: "content", value: "@body" %>
  <%= submit_tag "Create",class:"btn btn-primary" %>
</div>
<% end %>
